__pycache__/
*.pyc
saved_models/
.ipynb_checkpoints/
*.gz
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte